<div class="last">
    <div class="last__title">
        Aceptar tarjetas en tu negocio genera grandes beneficios
    </div>
</div>
<div class="promotion">
    <div class="promotion__container">
        <div class="info">
            <div class="info__title">Mayor seguridad</div>
            <p class="info__text">
                Al manejar cantidades menores de dinero en efectivo
            </p>
        </div>
        
    </div>
    <div class="promotion__container">
        <div class="info">
            <div class="info__title">Mayores ingresos</div>
            <p class="info__text">
                Los clientes suelen gastar más con tarjetas que en efectivo
            </p>
        </div>
    </div>
</div>