.form {

    &__add{
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 100%;        

    }

    &__contact{
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 100%;        
    }

    &__checks{
        display: flex;
        flex-direction: column;
    }

    &__input,
    &__check {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin-bottom: 1rem;
        gap:0.2rem;

        .input {

            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 5px;
            padding: 0.5rem;
            line-height: 1.5;
            width: 100%;


        }

        .check {
            align-items: center;
            display: flex;
            justify-content: left;
            text-align: left;
            color: #ffff;
        }
        .read{
            background-color: lightgray;
        }

        .label{
            @media (min-width: 768px) {
                font-size: 20px;
            }
        }
    }
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.notSelect{
    display: none;
      
}

.option{

    @media (min-width: 768px) {
        font-size: 1rem;
    }

}

