.confirm__info {
    display: flex;
    flex-direction: column;
    align-items: center;
   

    &__title {

        font-weight: 600;

        @media (min-width: 768px) {
            font-size: 40px;

        }

    }

    &__fol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img{
        width: 150px;
        margin-bottom: 1rem;
    }

}


.mat-raised-button {
    color: white;
}