.content_document_verifier{
        position: relative;
    display: inline-block;
    width: 100%;
    height: 10vw;
    .document_verifier-box{
        width: 29%;
        display: inline-block;
        height: 8vw;
        margin-left: 1vw;
        margin-right: 1vw;
        border: solid 1px #ffffff;
        border-radius: 1vw;
        box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        -moz-box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        min-width: 345px;
        margin-top: 2vw;
        position: relative;
        min-height: 145px;
        span{
            font-size: 20px;
            position: relative;
            display: inline-block;
            left: 1vw;
            top: 1vw;
        }
        input{
            position: relative;
            display: inline-block;
            top: 2vw;
            left: 1vw;
        }
    }
    .title__header{
        text-align: left;
        color: var(--title-color);
        font-weight: bold;
        font-size: 28px;
    }
    mat-spinner{
        width: 30px;
        height: 30px;
        position: absolute;
        display: block;
        top: 100px;
        left: calc(50% - 15px);
    }
}

@media (max-width:768px) {
    .content_document_verifier{
       position: relative;
    display: inline-block;
    width: 100%;
    height: 71vw;
    .document_verifier-box{
        width: 92%;
        display: inline-block;
        height: 15vw;
        margin-left: 1vw;
        margin-right: 1vw;
        border: solid 1px #ffffff;
        border-radius: 1vw;
        box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        -moz-box-shadow: 0px 1px 5px 0px rgba(135, 135, 135, 0.75);
        min-width: 345px;
        margin-top: 2vw;
        span{
            font-size: 20px;
            position: relative;
            display: block;
            left: 1vw;
            top: 1vw;
        }
        input{
            position: relative;
            display: inline-block;
            top: 2vw;
            left: 1vw;
        }
    }
    .title__header{
        text-align: left;
        color: var(--title-color);
        font-weight: bold;
        font-size: 28px;
    }
}
}