.navbar{
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  background-color:gainsboro;
  width: 100%;

  &__link{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
  }


}

.active{
  background-color: gray;
}



