.toolbar{
    background-color: #003746 !important;
    padding: 0;
    height: 7.3rem;
    
    @media (min-width: 768px) {
        height: 8rem;
    }
}

p{
    margin: 0;
}

.img__header{

    height: 100%;
    width: 30%;
    @media (min-width: 768px) {
        width: auto;
    }
}

.content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.4rem;


    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        width: 100%;
    }

    &__title{
        text-align: center;
        color: white;
        font-size: 1rem;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 2.5rem;
            margin-left: 4rem;
            margin-top: 3rem;
        }
    }

    .contact{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        &__title{
            font-size: 1rem;
            color:white;
        }
        &__number{
            font-size: 1rem;
            color:white;
        }
    }

    
  

    /*&__title{
        color: white;
        font-weight: 500;
        font-size: 2.5rem;
        margin-top: 5rem;
        margin-left: 4rem;
    }*/
    
}