.options{
    width: 95%;
    &__option{
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 0.6rem;
        width: 100%;
        
    }

    &__title{
        margin-bottom: 1.3rem;
        
            @media (min-width: 768px) {
                font-size: 20px;
            }
        
    }
}

.text {

    @media (min-width: 768px) {
        font-size: 1rem !important;
    }

}