<app-nav-recover [title]="title"></app-nav-recover>
<div class="container">
    <div class="container__input" *ngIf="loading">
        <div class="label text-center">Ingresa tu usuario</div>
        <input type="text" class="input" matInput autocomplete="off"  #recover>
        <mat-hint class="text-center error-msg" *ngIf="showError">{{error}}</mat-hint>
        <button mat-raised-button color="warn" (click)="sendEmail()">Enviar</button>
    </div>
    <div class="container__recover" *ngIf="!loading">
        <img src="assets/images/email.svg" alt="" *ngIf="!loader">
        <mat-spinner color="warn" *ngIf="loader"></mat-spinner>
        <div class="message">
            <p>En breve recibirás un correo electrónico para recuperar tu contraseña</p>
        </div>
        
        <div class="options">
            <button mat-raised-button color="warn" (click)="redirect()" type="button">Regresar al inicio</button>
            <button  class="resend" type="button" (click)="tryEmail()">Reenviar correo</button>
        </div>
    </div>
</div>