.toolbar__data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    p{
        font-size: 1rem;
        margin: 0;
    }

    img{
        width: 100px;
    }
}

img{
    width: 100px;
}

p{
    margin: 0;
    font-size: 20px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 9px 12px;
    margin-bottom: 2px;
}


.mat-mdc-raised-button{
    background-color: #7c9f42 !important;
    color: white !important;
    padding: 1rem !important;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;

    height: 80vh;
    
    &__input{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .label{
            font-size: 20px;
        }
    }

    &__recover{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        .message{
            text-align: center;
            @media (min-width: 768px) {
                 width: 30rem;
            }
            
        }
        .options{
            display: flex;
            gap: 2rem;
        }

        p{
            font-size: 20px;
        }

       img{
        width: 60px;
       }

    }
}

.resend{
    cursor: pointer;
    padding: 6px 40px;
    color: #ea1e26;
    background-color: #fff;
    border: 2px solid #ea1e26;
    font-weight: 700;
}

.mat-hint {
    color: red;
    width: 100%;
    font-size: 1rem;
}


.text-center{
    text-align: center;
}

.error-msg{
    color: red;
}