<form class="info__products" [formGroup]="generalForm">
    <mat-radio-group formControlName="opt" >
        <mat-radio-button  class="btn-color-n" value="1" (change)="option($event)">Inalámbrica</mat-radio-button>
        <mat-radio-button style="display: none;"  class="btn-color-n"  value="0">Inalámbrica</mat-radio-button>
    </mat-radio-group>

    <img src="assets/images/inalambrica.jpg" class="terminal">
    <small>Terminales inalámbricas con puntos de recarga. Ideal para negocios que requieren llevar la
        terminal hasta sus clientes.</small>
</form>

