<div class="container">
    <div class="content">
        <h1 class="encabezado">Bienvenid@</h1>
        <!--<div class="content__sub">
            <h1 class="resumen">Empieza a recibir pagos con tarjeta en tu negocio</h1>
        </div>-->
     
        <!--<div class="cards">
            <mat-card class="card">
                <img src="assets/images/tarjeta-18.png" alt="" srcset="" class="img">
                <mat-card-content>
                    <p>Acepta todas las tarjetas y crece tus ganancias</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <img src="assets/images/tasa_baja-18.png" alt="" srcset="" class="img-arrow">
                <mat-card-content>
                    <p>
                        Las comisiones más bajas del mercado
                        <br>
                        <br>

                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="card">
                <img src="assets/images/tiempo-18.png" alt="" srcset="" class="img">
                <mat-card-content>
                    <p>Recibe tu TPV en 72 horas
                      <br>
                      <br>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>-->

        <app-login></app-login>

       
    </div>

    <!--<div class="section">
        <h1 class="section__title">Solicita tu Terminal Punto de Venta u otro de nuestros productos con tan solo unos clicks.</h1>
        <div class="section__options">
            <div class="option">
                <p class="option__title">+800</p>
                <div class="option__des">Clientes satisfechos</div>
            </div>
            <div class="option">
                <p class="option__title">+100 mil</p>
                <div class="option__des">Transacciones al día</div>
            </div>
            <div class="option">
                <p class="option__title">+30%</p>
                <div class="option__des">En aumento de ventas</div>
            </div>
        </div>
    </div>-->
    
</div>