.container {

    background-image: url("../../../assets/images/imagen_landing.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 90vh; */
    width: 100vw;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        padding-left: 6%;
        width: 50%;

        &__sub{
            width: 100%;
        }

        .encabezado {
            font-size: 45pt;
            font-family: helvetica;
            padding-top: 3rem;
            padding-bottom: 0;
            font-weight: 600;
            color: #f07e29;

            @media (min-width: 768px) {
                font-size: 60pt;
            }    
        }

        .resumen {
            font-size: 30px;
            font-weight: normal;
            padding-bottom: 2%;
            color: #6f7779;

            @media (min-width: 768px) {
                font-size: 42px;
                padding-bottom: 4%;
            }
            
        }

        .cards{
            align-items: center;
            display: flex;
      
            gap: 2.2rem;
            padding: 2.2rem;

            @media (min-width: 768px) {
                gap: 3rem;
                padding-bottom: 7%;
                margin-top: 0;
            }
        }


    }
}


.img{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 70px;
    margin-top: -3rem;
    margin-left: -3rem;
}

.img-arrow{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 70px;
    margin-top: -3rem;
    margin-left: -2.5rem;
}



.card{
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 175px;
    
    p{
        color: #6f7779;
        font-weight: bold;
        font-size: 11px;
        text-align: left;
        
        @media (min-width: 768px) {
            font-size: 1rem;
        }
        
    }
}

.section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &__title{
        font-size: 20px;
        text-align: center;
       
        @media (min-width: 768px) {
            font-size: 32px;
        }
    }

    &__options{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: 1.5rem;
        width: 100%;
        @media (min-width: 768px) {
            justify-content: space-around;
        }
        

        .option{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        
            &__title{
             
                @media (min-width: 768px) {
                    font-size: 23px;
                    font-weight: 700;
                }
            }

            &__des{
                @media (min-width: 768px) {
                    font-size: 18px;
                    
                }
            }
            
        }

        
    }

    
}