.btn-color-n{
    color: #f07e29;
}


.signature {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 80vh;
    padding: 1rem;

    &__info {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__title {
            font-weight: 400;
        }

        @media (min-width: 768px) {
            font-size: 16px;
            &__text {
                width: 600px;
            }

            &__title {
                font-size: 40px;
                margin-bottom: 2rem;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
    }

     &__actions-buttons {
      display: flex;
      flex-direction: column;
      width: 50vw !important;
      text-align: center;
      .buttons-reenvio{
        width: 100%;
        position: relative;
        display: inline-block;
        .reenvio{
          width: 10rem !important;
          margin: 20px;
          display:inline
        }
      }
  }
}

.mat-raised-button{
    color: white;
}

.loading__msg{
    font-size: 2rem;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
  .movil-button-style{
    margin-bottom: 15px;
    width: 160px;
  }
}
