@use '../../../assets/styles/breakpoints.scss' as m;

.container {

    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
   
    

    .form {

        &__input,
        &__check {
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 95%;
            
    
            .input {
                
                background-color: #fff;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 5px;
                padding: 0.5rem;
                line-height: 1.5;
                
                width: 100%;
    
    
            }
    
            .check {
                align-items: center;
                display: flex;
                justify-content: left;
                text-align: left;
                color: #ffff;
            }
        }
    }
}

.contact {
    align-items: center;
    display: flex;

    &__add{
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
}

.select {
    width: 90%;
}

.section {
  
    margin-top: 0rem;
    margin-bottom: 5rem;
    @include m.breakpoint(medium) {

        display: grid;
        gap: 10rem;
        margin-top: 10rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.toggle {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        

        @media (min-width: 768px) {
            font-size: 20px;
            justify-content: flex-start;
        }

    }

    &__text {
        text-align: left;

    }
}

.mt {
    margin-top: 4rem;
}

.mb {
    margin-bottom: 2rem;
}

.icon {
    color: #3f51b5;
}

.email-form{
    margin-top: 4rem;
}

.info{

    &__product{
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-around;

        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
       

        .inalambrica{
            margin-left: 5px;
        }

    }



   
    &__products{
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
       
        font-size: 10px;
        gap: 0.8rem;
        .inalambrica{
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__parraf{
        text-align: justify;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    &__question{
        font-size: 1.4rem;
        text-align: justify;
        margin-bottom: 3rem;
    }

    &__check{
        margin-top: 1rem;
        text-align: justify;
        mat-checkbox{
            font-size: 1rem;

        }
    }

    &__firm{
        margin-top: 2rem;

        .title{
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        
        .text{
            text-align: justify;
        }

    }

 
}

.actions{
    display: flex;
    justify-content: flex-end;

    .action{
        width: 30%;
        height: 3rem;
    }
}

.margin{
    margin-top: 5rem;
}

.tasa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 1rem;

    &__title{
        font-weight: 500;
    }
}

.counter{
    display: flex;
    margin-top: 0.5rem;
    
    &__result{
        width: 90px;
        background-color: #e9ecef;
        text-align: center;
        padding: 6px 12px;
    }
    .btn{
        padding: 0.375rem 0.75rem;
        border: 1px solid #bdbdbd;
        font-size: 1rem;
        background-color: white;
    }
}

.month{
    background-color: #f07e29;
    width: 30%;
    padding: 0.5rem;
    border-radius: 0 0 15px 0;
    text-align: center;
    color: white; 
    margin-top: 1rem;
}

.month,.question,.esquem{
    @media (min-width: 768px) {
        font-size: 20px;
    }
}