<app-nav-recover [title]="'Ingresa nueva contraseña'"></app-nav-recover>

<form class="form" [formGroup]="resetForm">
    <div class="reset">
        <div class="reset__input">
            <div class="label">Ingresa tu nueva contraseña</div>
            <input type="password" #pass formControlName="password" autocomplete="off" minlength="8" maxlength="12" [ngClass]="{'warning':isError('password','pattern')||isError('password','minlength'),'error':(isError('confirmPassword','noMatch')||isError('password','noMatch')),'valid': getField('password').valid && getField('confirmPassword').valid}">
            <mat-error class="text-center mb" *ngIf="isError('password','pattern')">Tu contraseña aún no cumple con la politica</mat-error>
            <p>La contraseña debe de contener al menos una letra mayúscula, una letra minúscula, un número y un caracter especial, excepto %.</p>
        </div>
        <div class="reset__input">
            <div class="label">Confirma tu nueva contraseña</div>
            <input type="password" #confirm autocomplete="off" minlength="8" maxlength="12" formControlName="confirmPassword" [ngClass]="{'warning':getField('password').valid && confirm.value.length <= 0,'error':isError('confirmPassword','noMatch')||isError('password','noMatch'),'valid':getField('password').valid && getField('confirmPassword').valid}">
            <mat-error class="text-center" *ngIf="isError('confirmPassword','noMatch')||isError('password','noMatch')">Las contraseñas no coinciden</mat-error>
        </div>

        <div class="reset__action">
            <button mat-raised-button color="warn" [disabled]="resetForm.invalid" (click)="onSubmit()">Guardar contraseña</button>
        </div>
    </div>
</form>


