
.form{
    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80vh;

    .reset{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 20rem;
  
        @media (min-width: 768px) {
            width: 30rem;
        }

        .label{
            text-align: center;
            margin-bottom: 1rem;
        }

        &__input{
     
            width: 100%;
            input{
                background-color: #fff;
                border: 1px solid #ced4da;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.25rem;

               
            }

            input:focus{

                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
            
            }

            p{
                text-align: right;
            }
          
        }
        
    }
}