.toolbar__data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    p{
        font-size: 15px;
        margin: 0;
    }

    img{
        width: 100px;
    }
}